.aboutCompany {
    margin-top: 35px!important;
}

.aboutCompany__title {
    width: 40%;
    margin-bottom: 40px;
    font-style: normal;
    font-weight: 600;
    font-size: 38px;
    line-height: 46px;
    color: #000000;
}
.aboutCompany__items {
    margin-bottom: 175px!important;
}
.aboutCompany__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 80px;
}
.aboutCompany__item:nth-last-child(1) {
    margin-bottom: 0;
}
.aboutCompany__item:nth-child(2) {
    flex-direction: row-reverse;
}
.aboutCompany__item_block {
    max-width: 630px;

}
.aboutCompany__item_title {
    margin-bottom: 55px;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
}

.aboutCompany__item_description {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 29px;
    color: #000000;
}


@media (max-width: 768px) {
    .aboutCompany {
        margin-top: 24px!important;
    }
    .aboutCompany__title {
        width: 100%;
        margin-bottom: 60px;
        font-size: 24px;
        line-height: 29px;
    }
    .aboutCompany__items {
        margin-bottom: 110px!important;
    }
    .aboutCompany__item {
       flex-direction: column;
        align-items: center;
        margin-bottom: 60px;
    }

    .aboutCompany__item:nth-child(2) {
        flex-direction: column;
    }

    .aboutCompany__item_title {
        margin-bottom: 30px;
        font-size: 18px;
        line-height: 22px;
    }

    .aboutCompany__item_description {
        font-size: 13px;
        line-height: 22px;
        margin-bottom: 30px;
    }
}