.advantages {
    margin-top: 166px!important;
}

.advantages__title {
    font-style: normal;
    font-weight: 600;
    font-size: 38px;
    line-height: 46px;
    color: #000000;
    margin-bottom: 80px;
}

.advantages__items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 30px;
}

.advantages__item {
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.advantages__item > img {
    width: 80px;
    height: 80px;
}
.advantages__item_title {
    margin-bottom: 12px;
    margin-top: 25px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    color: #000000;
    text-align: center;
}
.advantages__item_description {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    color: #000000;
}

@media (max-width: 768px) {
    .advantages {
        margin-top: 110px!important;
    }

    .advantages__title {
        font-size: 26px;
        line-height: 32px;
        margin-bottom: 60px;
    }
    .advantages__items {
        grid-template-columns: 1fr;
    }
    .advantages__item > img {
        width: 60px;
        height: 60px;
    }
    .advantages__item_title {
        font-size: 15px;
        line-height: 18px;
    }
    .advantages__item_description {
        font-size: 15px;
        line-height: 20px;
    }
}