.branch {
    margin-top: 175px!important;
}
.branch__title {
    margin-bottom: 80px;
    font-style: normal;
    font-weight: 600;
    font-size: 38px;
    line-height: 46px;
    color: #000000;
}
.branch__items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    grid-template-rows: auto;
}
.branch__item {
    padding: 80px 90px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.branch__item:nth-child(1) {
    background: #7726B8;

}
.branch__item:nth-child(1) > .branch__item_title {
    color: #FFFFFF!important;
}
.branch__item_title {
    margin-top: 24px;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    text-align: center;
}



@media (max-width: 768px) {
    .branch {
        margin-top: 110px!important;
    }
    .branch__title {
        margin-bottom: 60px;
        font-size: 26px;
        line-height: 32px;
    }
    .branch__items {
        grid-template-columns: 1fr;
    }
    .branch__item {
        padding: 55px;
    }
    .branch__item_title {
        margin-top: 10px;
        font-size: 19px;
        line-height: 23px;
    }
}