.contactsMain {
    margin-top: 35px!important;
}
.contactsMain__title {
    font-style: normal;
    font-weight: 600;
    font-size: 38px;
    line-height: 46px;
    color: #000000;
}

.contactsMain_map {
    margin-top: 80px!important;
    position: relative;
}

.contactBanner {
    background: #FBFBFB;
    border-radius: 10px;
    padding: 50px;
    position: absolute;
    top: 55%;
    right: 10%;
}

.contactBanner__item {
    margin-bottom: 30px;
    display: flex;
}
.contactBanner__item:nth-last-child(1) {
    margin-bottom: 0;
}
.contactBanner__item_title {
    width: 124px;
    margin-right: 30px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
}
.contactBanner__item_subTitle {
    width: 267px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    display: flex;
    flex-direction: column;
}

.form {
    margin: 175px 0;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.form__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 520px;
}
.form__wrapper > .contacts__item_subTitle {
    text-align: center;
}

.form__wrapper_button {
    display: flex;
    justify-content: center;
}


@media (max-width: 768px) {
    .contactsMain {
        margin-top: 24px!important;
    }
    .contactsMain__title {
        font-size: 24px;
        line-height: 29px;
    }
    .contactsMain_map {
        margin-top: 377px!important;
    }

    .contactBanner {
        background: #FBFBFB;
        border-radius: 10px;
        padding: 30px 57px 40px 15px;
        position: absolute;
        top: 20%;
        right: 0;
        left: 0;

    }

    .contactBanner__item {
        margin-bottom: 30px;
        display: flex;
        flex-direction: column;
    }
    .contactBanner__item_title {
        margin-bottom: 12px;
        width: 100%;
        margin-right: 0;
        font-size: 13px;
        line-height: 16px;
    }
    .contactBanner__item_subTitle {
        width: 100%;
        font-size: 13px;
        line-height: 19px;
    }

    .form {
        margin: 150px 0;
    }
    .form__wrapper {
        width: 300px;
    }
}