.contacts {
    margin-top: 246px!important;
}
.contacts__title {
    margin-bottom: 80px;
    font-style: normal;
    font-weight: 600;
    font-size: 38px;
    line-height: 46px;
    color: #000000;
}

.contacts__items {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contacts__item {
    display: flex;
    flex-direction: column;
}
.contacts__item_block {
    display: flex;
    margin-bottom: 40px;
}
.contacts__item_block_title {
    width: 145px;
    margin-right: 30px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    display: flex;
    flex-direction: column;
}

.contacts__item_block_subTitle {
    width: 300px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    display: flex;
    flex-direction: column;
}

.contacts__item_form {
    width: 48%;
}

.contacts__item_title {
    margin-bottom: 20px;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
}

.contacts__item_subTitle {
    margin-bottom: 18px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
}

.contacts__form {
    display: flex;
    flex-direction: column;
}
.contacts__item_label {
    margin-bottom: 15px;
    border-bottom: 1px solid #000000;
}

.contacts__item_input {
    background: none;
    outline: none;
    border: none;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    padding: 10px 0;
}



.custom-checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
}


.custom-checkbox+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
}


.custom-checkbox+label::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    flex-grow: 0;
    border-radius: 0.25em;
    margin-right: 10px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
    border: 1px solid #7726B8;
}
.custom-checkbox:checked+label::before {
    border-color: #7726B8;
    background-color: #7726B8;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}
.custom-checkbox_text {
    margin-top: 15px;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #000000;
}
.contacts__button {
    margin-top: 30px;
    background: #7726B8;
    color: #FFFFFF!important;
}
.map {
    margin-top: 160px;
}

@media (max-width: 768px) {
    .contacts {
        margin-top: 110px!important;
    }
    .contacts__title {
        margin-bottom: 60px;
        font-size: 26px;
        line-height: 32px;
    }
    .contacts__items {
       flex-direction: column;
    }

    .contacts__item {
        flex-direction: column;
    }
    .contacts__item_block {
       flex-direction: column;
        margin-bottom: 30px;
    }
    .contacts__item_block_title {
        margin-bottom: 12px;
        width: 100%;
        margin-right: 0;
        font-size: 13px;
        line-height: 16px;
    }

    .contacts__item_block_subTitle {
        width: 100%;
        font-size: 13px;
        line-height: 19px;
    }

    .contacts__item_form {
        width: 100%;
        margin-top: 80px;
    }

    .contacts__item_title {

        font-size: 19px;
        line-height: 23px;
    }

    .contacts__item_subTitle {
        font-size: 13px;
        line-height: 19px;
    }


    .contacts__item_input {
        font-size: 13px;
        line-height: 19px;
        padding: 6px 0;
    }
    .custom-checkbox_text {
        margin-top: 10px;
        font-size: 10px;
        line-height: 12px;

    }
    .contacts__button {
        margin-top: 25px;
    }
}