.customers {
    margin-top: 175px!important;
}
.customers__title {
    margin-bottom: 80px;
    font-style: normal;
    font-weight: 600;
    font-size: 38px;
    line-height: 46px;
    color: #000000;
}

.customers__items {
    margin-bottom: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 30px;
}

.customers__item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
}
.customers_button {
    width: 100%;
    display: flex;
    justify-content: center;
}


@media (max-width: 768px) {
    .customers {
        margin-top: 110px!important;
    }
    .customers__title {
        margin-bottom: 60px;
        font-size: 26px;
        line-height: 32px;
    }
    .customers__items {
        margin-bottom: 30px;
        grid-template-columns: 1fr 1fr;
        gap: 30px;
    }
    .customers__item {
        padding: 14px;
    }
}