.factory {
    margin-top: 175px!important;
}
.factory__title {
    margin-bottom: 40px;
    font-style: normal;
    font-weight: 600;
    font-size: 38px;
    line-height: 46px;
    color: #000000;
    width: 20%;
}

.factory__items {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}
.factory__items_block {
    width: 57%;
}
.factory__item {
    margin-bottom: 60px;
}
.factory__item:nth-last-child(1) {
    margin-bottom: 0;
}
.factory__item_title {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    margin-bottom: 40px;
}

.factory__item_description {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 29px;
    color: #000000;
}

@media (max-width: 768px) {
    .factory {
        margin-top: 124px!important;
    }
    .factory__title {
        margin-bottom: 35px;
        font-size: 26px;
        line-height: 32px;
        width: 100%;
    }
    .factory__items {
        flex-direction: column-reverse;
        align-items: flex-start;
    }
    .factory__items_block {
        width: 100%;
    }
    .factory__item {
        margin-bottom: 40px;
    }
    .factory__item_title {
        font-size: 19px;
        line-height: 23px;
        margin-bottom: 30px;
    }

    .factory__item_description {
        font-size: 13px;
        line-height: 22px;
    }
    .factory__items_button {
        margin-top: 30px;
    }
}