.footer {
    padding: 60px 0;
}
.footer__wrapper {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;

}
.footer__block {
    display: flex;

}

.footer__block_item {
    display: flex;
    flex-direction: column;
    max-width: 260px;
    margin-right: 103px;
}
.footer__block_item:nth-last-child(1) {
    margin-right: 0;
}
.footer__block_title {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    margin-bottom: 30px;
}
.footer__block_subTitle {
    display: flex;
    flex-direction: column;
    margin-bottom: 12px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 25px;
    color: #000000;
}
.footer__subTitle {
    margin-top: 50px;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #000000;
}

@media (max-width: 768px) {
    .footer {
        padding: 40px 0;
    }
    .footer__wrapper {
        margin-top: 25px;
        flex-direction: column;
    }

    .footer__block {
        margin-bottom: 25px;
    }
    .footer__block:nth-last-child(1) {
        margin-bottom: 0;
    }
    .footer__block_item {
        max-width: 46%;
        margin-right: 30px;
    }
    .footer__block_title {
        font-size: 13px;
        line-height: 16px;
        margin-bottom: 18px;
    }
    .footer__block_subTitle {
        font-size: 11px;
        line-height: 13px;
    }
    .footer__subTitle {
        margin-top: 25px;
        font-size: 10px;
        line-height: 12px;
    }

}
