.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 17px 0;
    position: relative;
}
.header__block_logo {
    display: flex;
}
.header__name {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.header__label {
    display: flex;
    border-bottom: 1px solid #000000;
    width: 520px;
    padding-bottom: 8px;
}
.header__label > img {
    cursor: pointer;
}
.header__input {
    background: none;
    outline: none;
    border: none;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 25px;
    color: #9B9B9B;
    width: 100%;
}

.header__block_info {
    display: flex;
}
.header__info {
    display: flex;
    flex-direction: column;
    margin-right: 30px;
}
.header__info:nth-last-child(1) {
    margin-right: 0;
}
.header__info_item {
    margin-bottom: 1px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
}
.header__info_item:nth-last-child(1) {
    margin-bottom: 0;
}
.header__burger {
    display: none;
}
.header__menuMobile {
    display: none;
}

@media (max-width: 768px) {
    .header {
        padding: 10px 0;
    }
    .header__name {
        display: none;
    }
    .header__label {
        width: 193px;
        padding-bottom: 4px!important;
        margin-left: 11px;
    }
    .header__label > img {
        width: 15px;
        height: 15px;
    }
    .header__input {
        font-size: 10px;
        line-height: 12px;
    }
    .header__block_info {
        display: none;
    }
    .header__burger {
        display: flex;
        flex-direction: column;
        margin-left: 23px;
        cursor: pointer;
    }
    .header__burger_line {
        border: 2px solid #7726B8;
        width: 28px;
        margin-bottom: 7px;

    }
    .header__burger_line:nth-last-child(1) {
        margin-bottom: 0;
    }
    .header__menuMobile {
        height: 100vh;

        flex-direction: column;
        position: absolute;
        bottom: 0;
        right: 0;
        top: 0;
        left: 0;
        transition: all .5s;
        padding: 10px 12px;
        background: white;
        z-index: 10;
    }
    .header__menuMobile_head {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
    }
    .header__menuMobile_head > div {
        display: flex;
    }
    .header__menuMobile_head-logo {
        width: 49px!important;
        height: 30px!important;
        max-width: 49px!important;
    }
    .header__menuMobile_head_title {
        margin-left: 10px;
        font-family: Montserrat, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 10px;
        line-height: 12px;
        display: flex;
        align-items: center;
        color: #000000;
    }
    .header__menuMobile_items {
        display: flex;
        width: 100%;
        justify-content: space-between;
        margin-bottom: 50px;
    }
    .header__menuMobile_item {
        display: flex;
        flex-direction: column;
    }
    .header__menuMobile_item_title {
        margin-bottom: 2px;
        font-family: Montserrat, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        line-height: 19px;
        color: #000000;
    }
    .header__menuMobile__menu {
        display: flex;
        flex-direction: column;
    }
    .header__menuMobile__menu-item {
        margin-bottom: 25px;
        font-family: Montserrat, sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 13px;
        line-height: 16px;
        color: black;
    }
    .header__menuMobile__menu-item-active {
        color: #7726B8!important;
    }
}