.homeSlider_slide {
    display: flex;
    height: 100%;
}
.homeSlider_slide_img {
    position: relative;
}
.homeSlider_slide_block {
    width: 510px;
    height: 577px;
    position: relative;
    padding: 100px 50px;
    background: #FEFEFE;
    box-shadow: 0 10px 25px #B7B7B7;
    border-radius: 10px;
    z-index: 1;
    left: 15%;
    margin-top: 50px;
}
.homeSlider_slide_title {
    margin-bottom: 40px;
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 38px;
    line-height: 46px;
    color: #000000;
}
.homeSlider_slide_subTitle {
    margin-bottom: 40px;
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    color: #000000;
}
.homeSlider__buttons {
    display: flex;
    justify-content: space-between;
    width: 165px;
    position: absolute;
    top: 93%;
    left: 16%;
}
.homeSlider__buttons > div {
    cursor: pointer;
}

.mySwiperHome {
    display: flex;
    overflow: hidden;
}
.mySwiperHome > .swiper-wrapper {
    display: flex;
}

.homeSlider_slide {
    height: 820px;
}
.mySwiperHome__pagination {
    display: none;
}

@media (max-width: 768px) {
    .homeSlider_slide {
        display: flex;
        height: 70%!important;
    }
    .homeSlider_slide_block {
        width: 296px;
        height: 337px;

        padding: 33px 12px;
        left: 5%;

        margin-top: 240px;
    }
    .homeSlider_slide_title {
        margin-bottom: 30px;
        font-size: 24px;
        line-height: 29px;
    }
    .homeSlider_slide_subTitle {
        margin-bottom: 30px;
        font-size: 14px;
        line-height: 20px;
    }
    .homeSlider__buttons {
        display: none;
    }
    .homeSlider_slide {
        height: 610px;
    }
    .mySwiperHome__pagination {
        display: block
    }
}