.information {
    margin-top: 35px!important;
    margin-bottom: 175px!important;
}
.information__title {
    margin-bottom: 80px;
    font-style: normal;
    font-weight: 600;
    font-size: 38px;
    line-height: 46px;
    color: #000000;
}
.information__item {
    margin-bottom: 80px;
    display: flex;
    align-items: flex-start;
}
.information__item:nth-last-child(1) {
    margin-bottom: 0;
}
.information__item_text {
    margin-right: 30px;
}

.information__item_title {
    margin-bottom: 40px;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
}
.information__item_description {
    margin-bottom: 40px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 29px;
    color: #000000;

}
#information__item_description-1 {
    overflow: hidden;
    max-height: 90px;
}
#information__item_description-2 {
    overflow: hidden;
    max-height: 90px;
}
#information__item_description-3 {
    overflow: hidden;
    max-height: 90px;
}

.information__item_description-active {
    max-height: 100%!important;
}

.information__item_subTitle {
    margin-bottom: 30px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    color: #000000
}

@media (max-width: 768px) {
    .information {
        margin-top: 24px!important;
        margin-bottom: 110px!important;
    }
    .information__title {
        margin-bottom: 60px;
        font-size: 24px;
        line-height: 29px;
    }
    .information__item {
        margin-bottom: 60px;
        flex-direction: column-reverse;
        align-items: center;

    }

    .information__item_text {
        margin-right: 0;
    }

    .information__item_title {
        margin-top: 30px;
        margin-bottom: 30px;
        font-size: 18px;
        line-height: 22px;
    }
    .information__item_description {
        margin-bottom: 30px;
        font-size: 13px;
        line-height: 22px;

    }
    #information__item_description-1 {
        overflow: hidden;
        max-height: 90px;
    }
    #information__item_description-2 {
        overflow: hidden;
        max-height: 90px;
    }
    #information__item_description-3 {
        overflow: hidden;
        max-height: 90px;
    }

    .information__item_description-active {
        max-height: 100%!important;
    }

    .information__item_subTitle {
        margin-bottom: 20px;
        font-size: 14px;
        line-height: 17px;
    }
}
