.modals {
    width: 100%;
    height: 100%;
    z-index: 5;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(105, 105, 105, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
}
.modals_mini {
    width: 100%;
    height: 100%;
    z-index: 6;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(105, 105, 105, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
}

.modals__window {
    padding: 60px 110px;
    background: #FBFBFB;
    border-radius: 10px;
}
.modals__window__wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 18px;
}
.modals__window__title {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
}
.modals__window__subTitle {
    margin-bottom: 18px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
}

.modals__window_label {
    width: 520px;
    margin-bottom: 15px;
    padding-bottom: 9px;
    border-bottom: 1px solid #000000;
    display: flex;
    flex-direction: column;
}
.modals__window_label:nth-last-child(1) {
    margin-bottom: 25px;
}

.modals__window_label > span {
    margin-bottom: 4px;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #9B9B9B;
}
.modals__window_input {
    border: none;
    outline: none;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    padding-top: 18px;
}

.modals__window_button {
    justify-content: flex-start;
}
.modals__window_form > .custom-checkbox_text {
    width: 520px;
}


@media (max-width: 768px) {
    .modals__window {
        padding: 40px 12px;
    }
    .modals__window__wrapper {
        margin-bottom: 30px;
    }
    .modals__window__title {
        font-size: 18px;
        line-height: 22px;
    }
    .modals__window__subTitle {
        margin-bottom: 25px;
        font-size: 13px;
        line-height: 19px;
    }
    .modals__window_label {
        width: 295px;
        padding-bottom: 4px;
    }
    .modals__window_label > span {
        font-size: 10px;
        line-height: 12px;
    }
    .modals__window_input {
        font-size: 13px;
        line-height: 19px;
        padding-top: 16px;
    }
    .modals__window_form > .custom-checkbox_text {
        width: 295px;
    }
}