.nav {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 0;
    background: #7726B8;
    width: 100%;
}
.nav__list {
    display: flex;

}
.nav__list_item {
    margin-right: 85px;
}
.nav__list_item:nth-last-child(1) {
    margin-right: 0;
}
.nav__link {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    color: #FFFFFF;
}

@media (max-width: 768px) {
    .nav {
        display: none;
    }
}
