.objects {
    margin-top: 35px!important;
    margin-bottom: 175px!important;
}
.objects__item {
    margin-bottom: 70px;
}
.objects__item:nth-last-child(1) {
    margin-bottom: 0;
}

.objects__title {
    margin-bottom: 80px!important;
    font-style: normal;
    font-weight: 600;
    font-size: 38px;
    line-height: 46px;
    color: #000000;
}
.objects__slider_title {
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 34px;
    color: #000000;
}

.objects__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.objects__nav_buttons {
    display: flex;
    justify-content: space-between;
    width: 80px;
}
.objects__nav_button {
    cursor: pointer;
}

.objects__nav_buttons > .swiper-button-next, .swiper-button-prev {
    position: relative!important;
    margin-top: 0;
}
.objects__nav_buttons > .swiper-button-next1, .swiper-button-prev1 {
    position: relative!important;
    margin-top: 0;
}

@media (max-width: 768px) {
    .objects {
        margin-top: 24px!important;
        margin-bottom: 110px!important;
    }
    .objects__item {
        margin-bottom: 60px;
    }

    .objects__title {
        margin-bottom: 60px!important;
        font-size: 24px;
        line-height: 29px;
    }
    .objects__slider_title {
        font-size: 22px;
        line-height: 27px;
    }
    .objects__nav_buttons {
        display: none;
    }
}