.pagination {
    margin-top: 35px!important;
}
.pagination__wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.pagination__link {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #9B9B9B;
}
.pagination__list:nth-last-child(1) > .pagination__link:nth-last-child(1) {
    color: #7726B8;
}

.pagination__separator {
    margin: 0 8px;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #9B9B9B;
}