.productPage {
    margin-top: 35px!important;
    margin-bottom: 175px!important;
}

.productPage__title {
    margin-bottom: 40px;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 34px;
    color: #000000;
}
.productPage__subTitle {
    width: 40%;
    margin-bottom: 40px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    color: #000000;
}
.productPage__main {
    width: 100%;
    margin-bottom: 80px;
    display: flex;
    justify-content: space-between;
}

.productPage__main_slider {
    width: 590px;
    position: relative;
    height: 670px;

}


.mySwiperProduct {
    margin-top: 30px;
}

.swiper-button-nextProduct {
    position: relative!important;
    margin-top: 0;
    cursor: pointer;
}

.swiper-button-prevProduct {
    position: relative!important;
    margin-top: 0;
    cursor: pointer;
}
.productPage__main_nav {
    position: absolute;
    z-index: 100;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.mySwiperProduct__img {
    cursor: pointer!important;
    border: 1px solid #EFEFEF;
    box-sizing: border-box;
    border-radius: 10px;
}

.productPage__main_info {
    width: 518px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.productPage__main_info-title {
    margin-bottom: 40px;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
}
.productPage__main_info-block {
    margin-bottom: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

}
.productPage__main_info-block:nth-last-child(1) {
    margin-bottom: 0;
}
.productPage__main_info-subTitle {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    color: #000000;
}

.productPage__main_info-description {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    color: #000000;
}

.productPage__main_info-button > .button {
    background: #7726B8;
    color: #FFFFFF;
}
.productPage__info_block {
    margin-bottom: 60px;
    width: 60%;
}
.productPage__info_block:nth-last-child(1) {
    margin-bottom: 0;
}

.productPage__info_title {
    margin-bottom: 40px;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
}
.productPage__info_description {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 29px;
    color: #000000;
}
.productPage__info_description > ul {
    list-style-type: disc;
}

.mySwiperProduct2 {
    border: 1px solid #EFEFEF;
    box-sizing: border-box;
    border-radius: 10px;
}

@media (max-width: 768px) {
    .productPage {
        margin-top: 24px!important;
        margin-bottom: 110px!important;
    }

    .productPage__title {
        margin-bottom: 60px;
        font-size: 24px;
        line-height: 29px;
    }
    .productPage__subTitle {
        width: 100%;
        margin-bottom: 30px;
        font-size: 14px;
        line-height: 20px;
    }
    .productPage__main {
        width: 100%;
        margin-bottom: 60px;
        flex-direction: column;
    }

    .productPage__main_slider {
        width: 296px;
        height: 317px;
    }
    .productPage__main_info {
        margin-top: 60px;
        width: 276px;
    }

    .productPage__main_info-title {
        margin-bottom: 30px;
        font-size: 18px;
        line-height: 22px;
    }
    .productPage__main_info-block {
        margin-bottom: 20px;
    }
    .productPage__main_info-subTitle {
        font-size: 14px;
        line-height: 20px;
    }

    .productPage__main_info-description {
        font-size: 14px;
        line-height: 17px;
    }
    .productPage__main_info-button {
        margin-top: 60px;
    }
    .productPage__info_block {
        margin-bottom: 40px;
        width: 100%;
    }

    .productPage__info_title {
        margin-bottom: 30px;
        font-size: 18px;
        line-height: 22px;
    }
    .productPage__info_description {
        font-size: 13px;
        line-height: 22px;
    }
}