.productsCollection {
    margin-top: 35px!important;
    margin-bottom: 175px!important;
}

.productsCollection__title {
    margin-bottom: 80px;
    font-style: normal;
    font-weight: 600;
    font-size: 38px;
    line-height: 46px;
    color: #000000;
}

.productsCollection__item {
    margin-bottom: 80px;
}
.productsCollection__item:nth-last-child(1) {
    margin-bottom: 0;
}
.productsCollection__item_title {
    margin-bottom: 40px;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 34px;
    color: #000000;
}
.productsCollection__item_blocks {
    display: flex;
    flex-wrap: wrap;
}
.productsCollection__item_block {
    width: 290px;
    margin-right: 30px!important;
    cursor: pointer;
}
.productsCollection__item_block:nth-last-child(1) {
    margin-right: 0;
}
.productsCollection__item_block-img {

    height: 330px;
    padding: 15px;
    border-radius: 10px;
}

.productsCollection__item_block-img:hover {
    box-shadow: 0 10px 25px #EAEAEA;
}

.productsCollection__item_block-title {
    margin-top: 30px;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
}
.productsCollection__item_minBlock-wrapper {
    margin-top: 30px;
}
.productsCollection__item_minBlock {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.productsCollection__item_minBlock:nth-last-child(1) {
    margin-bottom: 0;
}
.productsCollection__item_minBlock-title {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    color: #000000;
}

.productsCollection__item_minBlock-subTitle {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    text-align: right;
    color: #000000;
}


@media (max-width: 768px) {
    .productsCollection {
        margin-top: 24px!important;
        margin-bottom: 110px!important;
    }

    .productsCollection__title {
        margin-bottom: 60px;
        font-size: 24px;
        line-height: 29px;
    }
    .productsCollection__item {
        margin-bottom: 60px;
    }
    .productsCollection__item_title {
        margin-bottom: 40px;
        font-size: 22px;
        line-height: 27px;
    }
    .productsCollection__item_block {
        width: 140px;
        margin-right: 8px!important;
    }
    .productsCollection__item_block-img {
        width: 140px;
        height: 154px;
        padding: 9px;
    }
    .productsCollection__item_block-title {
        margin-top: 15px;
        font-size: 18px;
        line-height: 22px;
    }

    .productsCollection__item_minBlock-wrapper {
        margin-top: 12px;
    }
    .productsCollection__item_minBlock {
        align-items: flex-start;
        flex-direction: column;
        margin-bottom: 12px;
    }
    .productsCollection__item_minBlock-title {
        margin-bottom: 5px;
        font-size: 14px;
        line-height: 20px;
    }

    .productsCollection__item_minBlock-subTitle {
        font-size: 14px;
        line-height: 17px;
        text-align: left;
    }
}
