.products {
    margin-top: 35px!important;
    margin-bottom: 175px!important;
}
.products__title {
    margin-bottom: 80px;
    font-style: normal;
    font-weight: 600;
    font-size: 38px;
    line-height: 46px;
    color: #000000;
}

.products__items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}
.products__item_img {
    border-radius: 10px;
}

.products__item_title {
    margin: 30px 0;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
}


@media (max-width: 768px) {
    .products {
        margin-top: 24px!important;
        margin-bottom: 110px!important;
    }
    .products__title {
        margin-bottom: 60px;
        font-size: 24px;
        line-height: 29px;
    }

    .products__items {
        grid-template-columns: 1fr;
    }
    .products__item_title {
        margin: 24px 0;
        font-size: 18px;
        line-height: 22px;
    }
}