@import "normalize.css";
@import "blocks/header.css";
@import "blocks/nav.css";
@import "blocks/branch.css";
@import "blocks/factory.css";
@import "blocks/advantages.css";
@import "blocks/customers.css";
@import "blocks/contacts.css";
@import "blocks/footer.css";
@import "blocks/pagination.css";
@import "blocks/contactsMain.css";
@import "blocks/aboutCompany.css";
@import "blocks/objects.css";
@import "blocks/swiperCompany.css";
@import "blocks/information.css";
@import "blocks/products.css";
@import "blocks/productsCollection.css";
@import "blocks/productPage.css";
@import "blocks/modals.css";
@import "blocks/homeSlider.css";

.container {
    max-width: 1290px;
    margin: auto;
}

.button {
    padding: 17px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #7726B8;
    border: 2px solid #7726B8;
    border-radius: 10px;
    width: 300px;
    cursor: pointer;
}

@media (max-width: 768px) {
    .container {
        max-width: 296px;
    }
    .button {
        padding: 14px 0;
        font-size: 13px;
        line-height: 16px;
        width: 215px;
    }
}